<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="{% url "index" %}" class="navbar-brand">Course App</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="{% url "index" %}" class="nav-link">Kurslar</a>
                </li>
                <li class="nav-item">
                    <a href="/iletisim" class="nav-link">İletişim</a>
                </li>
                <li class="nav-item">
                    <a href="/hakkimizda" class="nav-link">Hakkımızda</a>
                </li>
                {% if is_superuser %}
                    <li class="nav-item">
                        <a href="{% url "create_course" %}" class="nav-link">Kurs Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "course_list" %}" class="nav-link">Kurs Listesi</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav me-1">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">Hoş geldin, {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "user_logout" %}" class="nav-link">Çıkış Yap</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url "user_login" %}" class="nav-link">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "user_register" %}" class="nav-link">Kayıt Ol</a>
                    </li>
                {% endif %}
            </ul>
            <form action="{% url "search" %}" class="d-flex">
                <input type="text" name="q" id="" placeholder="Anahtar Kelime" class="form-control me-1">
                <button type="submit" class="btn btn-secondary">Arama</button>
            </form>
        </div>
    </div>
</nav>