{% extends "layout.html" %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
{% endblock  %}

{% block page_title %}
    Kurslar
{% endblock  %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <!--menu-->
            <div class="col-3">
                {% comment %} {% include "courses/partials/_categories.html" %} {% endcomment %}
                <div class="list-group">
                    {% for category in categories %}
                        <a href="{% url "courses_by_category_name" category %}" class="list-group-item list-group-item-action"> {{category}} </a>
                    {% endfor %}
                </div>
            </div>
            <!--content-->
            <div class="col-9">
                <h1>Kurs Listesi</h1>
                <i class="fa-regular fa-folder-open fa-2xl"></i>
            </div>
        </div>
    </div>
{% endblock  %}