{% extends "layout.html" %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
{% endblock  %}

{% block page_title %}
    Kurslar
{% endblock  %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <!--menu-->
            <div class="col-3">
                {% include "courses/partials/_categories.html" %}
            </div>
            <!--content-->
            <div class="col-9">
                {% for course in courses %}
                    {% include "courses/partials/_courses.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock  %}