{% extends "layout.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static "courses/css/style.css" %}">
{% endblock  %}

{% block page_title %}
    Kurslar
{% endblock  %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <!--menu-->
            <div class="col-3">
                {% include "courses/partials/_categories.html" %}
            </div>
            <!--content-->
            <div class="col-9">
                {% if page_obj.object_list|length == 0 %}
                    <div class="alert alert-warning">Kurs Bulunamadı</div>
                {% endif %}

                {% for course in page_obj.object_list %}
                    {% include "courses/partials/_courses.html" %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > 1 %}
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link">Geri</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">İleri</a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock  %}

{% block js_files %}
    <script src="{% static "courses/js/script.js" %}"></script>
{% endblock  %}