{% extends "layout.html" %}

{% block page_title %}
    Giriş Yap
{% endblock  %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Giriş Yap</h1>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}