{% extends "layout.html" %}

{% block page_title %}
    Kayıt Ol
{% endblock  %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Kayıt Ol</h1>
                <hr>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    
                    {% include "partials/_form.html" %}

                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}